
:root {
  --animate-duration: 300ms;
}

body{
  background-image: url("../assets/leafy-bg.jpg");
  background-color: #dadada;
}

h1, h2 {
  color: #d46426;
}

.nav-link {
  color: #20546A;
  font-weight: bold;
  cursor: pointer;
}
span.active {
  font-weight: normal;
  color: #d46426;
}

.my-blue {
  background-color: #20546A;
}

hr.my-hr {
  background-color: #d46426;
}

.white-text {
  color: white;
}

.orange-text {
  color: #d46426;
  font-size: 1.3em; 
}

div.hide-card {
  display: none;
}

.contact-list li {
  list-style: none;
  margin-bottom: 10px;
}
.contact-list a {
  color: white;
  font-size: 1.2em;
}
img.contact-icon {
  width: 35px;
  margin-right: 15px;
}

img.portfolio-icon {
  width: 20px;
  margin: 0px 10px 5px 0px;
}

div.portfolio-card {
  background-color: white;
}

p.resume {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

a.resume {
  color: #d46426;
}
